.topdoctor{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding:50px 0px ;
}

.topdoctor h1{
    font-weight: 600;
}

.topdoctor h1+p {
  margin-bottom: 30px;
}

.topdoctor-container{
 width: 70%;
display: flex;
flex-wrap: wrap;
justify-content:space-between;
align-items: center;
}

.topdoctor-detail{
    display: flex;
    flex-direction: column;
   border: 1px solid blue;
   margin-bottom: 20px;
   border-radius: 10px;
   cursor: pointer;
}

.topdoctor-detail img{
    width:200px;
    height: 200px;
    background-color:#C9D8FF;
    border-radius: 10px 10px 0px 0px;
}
.topdoctor-detail:hover{
        background-color:#8ea5e0;
    
}

.topdoctor-info{
    padding: 6px 3px;
}

.btn-topdoctor{
    margin-top: 20px;
    padding:10px 40px;
    border: 1px solid black;
    border-radius:50px;
    background-color: #4B5563;
}

.btn-topdoctor:hover{
 cursor: pointer;
 background-color: rgb(68, 68, 235);
 border: 1px solid blue;
}
