.bookappointment{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5F6FFF;
    border: 1px solid blue;
    border-radius: 8px;
    padding: 0px 20px;
    margin-bottom: 100px;
}
.btnbook{
  margin-top: 20px;
  margin-left: 40px; 
  padding: 10px 25px;
  border: 1px solid black;
  border-radius:50px;
  cursor: pointer;
  transition: 1s;
}
.btnbook:hover{
transform: scale(1.02);
font-size: 16px;
}

.leftbook img{
     width:40vw;
     height:40vw;
     margin-top: -30px;
}

@media(max-width:768px){

.bookappointment{
    padding:50px;
    text-align: center;
    gap: 40px;
    flex-direction: column;
}
}
