.login {
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: 2px solid #D4D4D4;
    border-radius: 5px;
    padding: 40px 30px;
    margin: 50px;
    width: 30vw;
    background-color: #FFFFFF;
}

.login-info {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    gap:5px;
}

.login-info input {
    padding: 5px 10px;
    font-size: 16px;
    border-radius:5px;
    cursor: pointer;
    border:1px solid #DADADA;
}


.btn-login{
    align-self: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #5F6FFF;
    color: white;
    font-size: 15px;
    width:90%;
    margin:8px 0px;
    cursor: pointer;
    transition: 1s;
}
.btn-login:hover{
    transform: scale(1.01);
}

.login-account{
    display: flex;
    flex-direction: row;
    
}

@media(max-width:1050px) {
    .login {
        width: 37vw;
    }
}

@media(max-width:768px) {
    .login {
        width: 45vw;
        padding: 40px 20px;
    }

}

@media(max-width:600px) {
    .login {
        width: 100%;
    }
}