.navbar {
    width: 100%;
    margin-top: 3px;
    position: relative;
}

.navbar-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.navbar-1 img {
    width: 217px;
    height: 46px;
    cursor: pointer;
}

.navbar-1 ul li {
    list-style: none;
    cursor: pointer;
}

.navbar-1 ul {
    display: flex;
    gap: max(2vw, 10px);
}

.nav-btn {
    width: 150px;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid blue;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

.nav-btn:hover {
    cursor: pointer;
    border: 2px solid black;
}

.active {
    border-bottom: 2px solid rgb(92, 47, 207);
    padding-bottom: 2px;
}

 .sidebar-icon1{
    display: none;
 }
.sidebar-icon1 img:hover{
    cursor: pointer;
}



@media(max-width:1000px) {
    .navbar-1 img {
        width: 200px;
        height: 44px;
    }

    .navbar-1 ul {
        display: flex;
        gap: 16px;
    }

    .navbar-1 ul li {
        font-size: 16px;
    }

    .nav-btn {
        width: 145px;
        font-size: 16px;
    }
}


@media(max-width:850px) {
    .navbar-1 img {
        width: 180px;
        height: 44px;
    }

    .navbar-1 ul {
        gap: 14px;
    }

    .navbar-1 ul li {
        font-size: 14px;
    }

    .nav-btn {
        width: 140px;
        font-size: 14px;
    }
}

@media(max-width:700px) {
    .navbar-1 ul {
        display: none;
    }
   
}

@media(max-width:850px) {
    .navbar-1 img {
        width: 130px;
        height: 50px;
    }

    .sidebar-icon1 {
        display: block;
    }

    .nav-btn {
        width: 140px;
        font-size: 15px;
    }
}




/* profile */
.create {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;

}

.create img:first-child {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #eee;
    cursor: pointer;

}

.create img:nth-child(2) {
    width: 15px;
    height: 15px;
    opacity: 0.4;
    cursor: pointer;
}

.my-app-container {
    position: absolute;
    top: 20px;
    right: 0;
    border: none;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px;
    display: none;
    z-index: 1;
}

.my-appointment {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px;
    margin-top: 40px;
    background-color: #F8F8F8;
}

.my-appointment p:hover{
    color: black;
    font-weight: 500;
}

.create:hover .my-app-container {
    display: flex;
    cursor: pointer;
}

@media(max-width:768px) {
     .navbar-1 img {
        width: 110px;
        height:40px;
    }

    .my-appointment {
        gap: 7px;
        padding: 4px;
    }

    .my-appointment p {
        font-size: 15px;
    }
}

@media(max-width:500px) {
    
    .navbar-1 img {
        width:80px;
        height:30px;
        margin: 4px 0px;
    }
    .my-appointment {
        gap: 6px;
        padding: 3px;
    }

    .my-appointment p {
        font-size: 14px;
    }
    .nav-btn {
        width:80px;
        font-size:12px;
        padding:4px 1px;
    }
}